body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 56px 800px;   
  background: rgb(230,169,127);
  background: linear-gradient(90deg, rgba(230,169,127,1) 36%,rgba(0,212,255,1) 100%);	
  margin: 0 auto;	
  width: 50%;	
}
  
#main_title {
  padding: 11px;	
  font-size: 4em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #7B241C;
}
  
#first_name {
  padding: .6em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;	
}
  
#last_name {
  padding: .6em;
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;		
}

#email {
  padding: .6em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;	
}

#address {
  padding: .6em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;	
}

#phone {
  padding: .6em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;	
}

#dob {
  padding: .6em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.6em;
  color: #534746;	
}

input[type=text] {
  width: 350px;  
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;     
  font-size: 1.7em;
}

input[type=text]:focus {
  background-color: #DCDCDC;     
}

input[type=email] {
  width: 350px;   
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;
  font-size: 1.7em;	
}

input[type=email]:focus {
  background-color: #DCDCDC;     
}

input[type=tel] {
  width: 350px;   
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C; 
  font-size: 1.7em;	
}

input[type=tel]:focus {
  background-color: #DCDCDC;     
}

input[type=submit] {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin: 30px 10px;
  cursor: pointer;  	
  background-color: white;
  color: black;
  border: 2px solid #555555; 	
  font-family: 'Ubuntu', sans-serif; 
}
  
input[type=submit]:hover {
  background-color: #555555;
  color: white;	
}

@media only screen and (min-width: 768px) {
     
  body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 800px;
  }                 
    
  #main_title {
  padding: 10px;	
  font-size: 3.5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #B6C2C6;
  }
  
  #first_name {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;	
  }
  
  #last_name {
  padding: .3em;
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;		
  }
  
  #email {
  padding: .3em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;	
  }

  #address {
  padding: .3em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;	
  }

  #phone {
  padding: .3em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;	
  }

  #dob {
  padding: .3em;	
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1.2em;
  color: #EAE1E1;	
  }

  input[type=text] {
  width: 550px;  
  padding: 7px 5px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;     
  font-size: 1.3em;
  }
  
  input[type=text]:focus {
  background-color: #DCDCDC;     
  }

  input[type=email] {
  width: 550px;   
  padding: 7px 5px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;
  font-size: 1.3em;	
  }
  
  input[type=email]:focus {
  background-color: #DCDCDC;     
  }
  
  input[type=tel] {
  width: 550px;   
  padding: 7px 5px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C; 
  font-size: 1.3em;	
  }
  
  input[type=tel]:focus {
  background-color: #DCDCDC;     
  }
  
  input[type=submit] {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 30px 10px;
  cursor: pointer;  	
  background-color: white;
  color: black;
  border: 2px solid #555555; 	
  font-family: 'Ubuntu', sans-serif; 
  }
  
  input[type=submit]:hover {
  background-color: #555555;
  color: white;	
  }	
} 
   
 
@media only screen and (min-width: 992px) {
   
  body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 1536px 800px;
  }
  	
  #main_title {
  padding: 10px;	
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #B6C2C6;
  }
  
  #first_name {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;	
  }
  
  #last_name {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;
  }
  
  #email {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;	
  }

  #address {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;	
  }

  #phone {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;	
  }

  #dob {
  padding: .3em; 
  font-family: 'Ubuntu', sans-serif;	
  font-size: 1em;
  color: #EAE1E1;
  font-weight: bold;
  }	
	
  input[type=text] {
  width: 850px;  
  padding: 4px 4px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;     
  font-size: 1.3em;
  }
  
  input[type=text]:focus {
  background-color: #DCDCDC;     
  }		

  input[type=email] {
  width: 850px;  
  padding: 4px 4px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;     
  font-size: 1.3em;
  }
	
  input[type=email]:focus {
  background-color: #DCDCDC;     
  }	

  input[type=tel] {
  width: 850px;  
  padding: 4px 4px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #7B241C;     
  font-size: 1.3em;
  }
	
  input[type=tel]:focus {
  background-color: #DCDCDC;     
  }	
  
  input[type=submit] {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 10px 10px;
  cursor: pointer;  	
  background-color: white;
  color: black;
  border: 2px solid #555555;  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
  font-family: 'Ubuntu', sans-serif;  
  }	
 
  input[type=submit]:hover {
  background-color: #555555;
  color: white;	
  }  	
}